@model ConsumerTravell.Models.ProvinceCity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProvinceCity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTinh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
