@model IEnumerable<ConsumerTravell.Models.ProvinceCity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTinh }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTinh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTinh })
        </td>
    </tr>
}

</table>
